/* 当页面小于 960px 的时候执行它下面的 CSS
 * screen: 告知设备在打印页面时使用衬线字体，在屏幕上显示时用无衬线字体;
 * max-width: 表示在这个宽度之下所触发 ;
 */
@media screen and (max-width: 960px) {
    body{
        background: #000;
    }
}

blockquote, body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, hr, html, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
    font-family: PingFang SC,Microsoft YaHei,Arial;
}

html {
    font-size: 35px !important;
}

body {
    overflow-x: hidden;
}

div {
    display: block;
}