.xjhContentPageWrap {
    position: relative;
    background-color: #f2f2f2;
}

.xjhContentPageWrap .xjhContentPageHeader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2.4rem;
    background-color: #38f;
    z-index: 2;
}

.xjhContentPageWrap .xjhContentPageHeader .xjhContentPageTurnBack {
    float: left;
    font-size: .7rem;
    color: #fff;
    line-height: 2.4rem;
    width: 4rem;
}

.xjhContentPageWrap .xjhContentPageHeader .xjhContentPageTurnBack img {
    height: .9rem;
    margin: .75rem .25rem;
    float: left;
}

.xjhContentPageWrap .xjhContentPageHeader .xjhContentPageHeaderTitle {
    margin: 0 4rem;
    text-align: center;
    font-size: .7rem;
    line-height: 2.4rem;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.xjhContentPageWrap .xjhContentPageContentWrap {
    box-sizing: border-box;
    padding-top: 2.35rem;
    overflow-y: scroll;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentHeader {
    height: 3rem;
    background-color: #38f;
    width: 100%;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentHeader .xjhContentPageContentHeaderLogoWrap {
    width: 3rem;
    height: 3rem;
    float: left;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentHeader .xjhContentPageContentHeaderLogoWrap .xjhContentPageContentHeaderLogo {
    width: 2rem;
    height: 2rem;
    margin: .5rem;
    background-color: #fff;
    border-radius: .1rem;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentHeader .xjhContentPageContentHeaderLogoWrap .xjhContentPageContentHeaderLogo img {
    width: 1.7rem;
    height: 1.7rem;
    margin: .15rem;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentHeader .xjhContentPageContentHeaderInfo {
    box-sizing: border-box;
    margin-left: 3rem;
    padding: .5rem 0;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentHeader .xjhContentPageContentHeaderInfo .xjhContentPageContentHeaderCompanyName {
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: .8rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentHeader .xjhContentPageContentHeaderInfo .xjhContentPageContentHeaderTime {
    height: .8rem;
    line-height: .8rem;
    font-size: .6rem;
    color: #adcfff;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentDetail {
    padding: .4rem;
    height: 3.8rem;
    background-color: #fff;
    margin-bottom: .4rem;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentDetail .xjhContentPageContentDetailInner {
    height: 1.9rem;
    width: 100%;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentDetail .xjhContentPageContentDetailInner .xjhContentPageContentDetailLogo {
    float: left;
    height: 1.9rem;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentDetail .xjhContentPageContentDetailInner .xjhContentPageContentDetailLogo img {
    height: .9rem;
    width: .9rem;
    margin: .5rem .2rem;
}

.xjhContentPageWrap .xjhContentPageContentWrap .xjhContentPageContentDetail .xjhContentPageContentDetailInner .xjhContentPageContentDetailInfo {
    margin-left: 1.5rem;
    height: 1.9rem;
    line-height: 1.9rem;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    font-size: .6rem;
}

.xjhContentPageWrap .xjhContentPageMainHeader {
    box-sizing: border-box;
    height: 2.2rem;
    border-bottom: .05rem solid #e3e3e3;
    background-color: #fff;
    z-index: 1;
}

.xjhContentPageWrap .xjhContentPageMainHeader .xjhContentPageMainHeaderLeft {
    box-sizing: border-box;
    float: left;
    padding: 0 .5rem;
    color: #000;
    width: 100%;
    height: 2.2rem;
}

.xjhContentPageWrap .xjhContentPageMainHeader .xjhContentPageMainHeaderLeft .xjhContentPageMainHeaderLeftItem {
    float: left;
    width: 33.33%;
    font-size: .65rem;
    text-align: center;
    height: 2.2rem;
    line-height: 2.2rem;
}

.xjhContentPageWrap .xjhContentPageMainHeader .xjhContentPageMainHeaderLeft .xjhContentPageMainHeaderLeftItemActive {
    position: relative;
    color: #38f;
}

.xjhContentPageWrap .xjhContentPageMainHeader .xjhContentPageMainHeaderLeft .xjhContentPageMainHeaderLeftItemInvalid {
    color: #ccc;
}

.xjhContentPageWrap .xjhContentPageMainAlbumsWrap, .xjhContentPageWrap .xjhContentPageMainContent {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    font-size: .8rem;
    line-height: 1.5rem;
}

.xjhContentPageWrap .xjhContentPageMainAlbumsWrap {
    padding: .8rem .6rem;
}

.xjhContentPageWrap .xjhContentPageMainAlbumsWrap, .xjhContentPageWrap .xjhContentPageMainContent {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    font-size: .8rem;
    line-height: 1.5rem;
}

.xjhContentPageWrap .xjhContentPageMainXjhsWrap {
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    font-size: .8rem;
    line-height: 1.5rem;
}