.mHeader {
    /*background-color: #38f;*/
    background-color: #ffe18b;
    width: 100%;
    height: 2.4rem;
    position: fixed;
    top: 0;
    z-index: 10;
}

.mHeader .mHeaderLogo {
    /*height: 1rem;
    margin: .7rem .5rem;*/
    height: 5rem;
    margin: -1rem;
    box-sizing: border-box;
    float: left;
}

.mHeader .mHeaderMiddleTab {
    height: 100%;
    margin: 0 3.9rem;
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: justify;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}